<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet" />

    </head>
    <header class="header">
        <nav class="header-nav">
            <p>Admin</p>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>

<footer class="footer">

</footer>
</html>
