* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 200px;
    width: 100%;
    background-color: lightsalmon;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: lightskyblue;
}

.article {
    width: 33%;
    text-align: center;
    padding: 20px;
}

.list-articles {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}

.article-image {
    width: 100%;
}